body {
    font-family: 'Poppins', sans-serif;
    background: #22223b;
    color: whitesmoke;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

p {
    font-size: 0.65rem;
}

.flex-container {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.top button {
    width: 10%;
    height: 10%;
    margin-left: 1em;
    font-family: inherit;
    font-size: 0.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #22223b;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 12px;
}

.top button:hover,
.top button:focus {
    background-color: whitesmoke;
    color: #22223b;
    border: 2px solid whitesmoke;
    border-radius: 12px;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.functions-container {
    display: flex;
    flex-direction: column;
}

#card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 1em 0;
}

.card-slot {
    width: 5rem;
    height: 7rem;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    margin-left: 0.5em;
}

img.card {
    width: 100%;
    height: 100%;
}

button {
    font-family: inherit;
    margin: 0.25em;
    border-radius: 5px;
    width: 15%;
    height: 3rem;
}

footer {
    padding-top: 1em;
}

footer p {
    font-size: 0.5rem;
}

@media (max-width: 600px) {
    .split {
        flex-direction: column;
    }

    .functions-container .stats {
        order: -1
    }
}

/* =====================================
                  Modals
   ===================================== */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: 15% auto;
    padding: 20px;
    border: 2px solid #22223b;
    border-radius: 5px;
    width: 60%;
    color: #22223b;
}

.modal-content p {
    margin-top: 0;
}

.modal-content > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-content button {
    width: 25%;
    height: 25%;
    font-family: inherit;
    font-size: 0.7rem;
    margin-top: 1.5em;
}
